<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Just another WordPress site" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <title>Belém | 400 anos </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel='stylesheet' id='contact-form-7-css' href='css/contact-form-7.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='css/revslider.css' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css' href='css/woocommerce-layout.css' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href='css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css' href='css/woocommerce.css' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css-css' href='css/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='awesome-css' href='font/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='Varela-css' href='http://fonts.googleapis.com/css?family=Varela' type='text/css' media='all' />
    <link rel='stylesheet' id='Rouge-css' href='http://fonts.googleapis.com/css?family=Rouge+Script' type='text/css' media='all' />
    <link rel='stylesheet' id='owl.carousel-css' href='css/owl.carousel.css' type='text/css' media='all' />
    <link rel='stylesheet' id='owl.theme-css' href='css/owl.theme.css' type='text/css' media='all' />
    <link rel='stylesheet' id='flexslider-css' href='css/flexslider.css' type='text/css' media='screen' />
    <link rel='stylesheet' id='style-css' href='style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='style-inline.css' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='css/js_composer_front.css' type='text/css' media='all' />
    <!-- Latest compiled and minified CSS -->
  
    <script type='text/javascript' src='js/jquery/jquery.js'></script>
   

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />

    <script type="text/javascript">
        var themeprefix = 'plazart';
        var imgpath = 'images/';
    </script>
    <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="vc-ie8.css" media="screen">
    <![endif]-->
</head>
<body id="bd" class="home page page-id-13 page-template page-template-template-vc page-template-template-vc-php  wpb-js-composer js-comp-ver-4.4.2 vc_responsive tribe-theme-everline">

   
    <div class="everline_boxed">
        <header class="tz-header tz-header-page" style="height: 85px">
            <div class="container" style="margin: -50px 0 0 0">
                <h3 class="tzlogo pull-left">
                    <a class="pull-left tz_logo" style="margin-left: 120px;" href="index.html" title="Everline">
                        <img class="logo_lager" src="images/Everline_logo.png" height="64" alt="Everline" />
                    </a>
                </h3>
                <button data-target=".nav-collapse" class="btn-navbar tz_icon_menu" type="button">
                    <i class="fa fa-bars"></i>
                </button>
                <button class="tz-search pull-right"> <i class="fa fa-search"></i></button>
                <nav class="pull-right">
                    <div id="menu"></div>
                </nav>
            </div>
        </header>
        <div class="tzform-search">
            <img class="tzcontro_search" src="images/icon_search_delete.png" alt="icon search">
            <form method="get" id="searchform" action="#">
                <label class="icon-search">&nbsp;</label>
                <label for="s" class="assistive-text assistive-tzsearch">Search</label>
                <input type="text" class="field Tzsearchform inputbox search-query" name="s" id="s" placeholder="Search..." />
                <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
            </form>
        </div>
        <div class="single_post" style="padding: 32px 96px 1px 63px !important; ">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">


                        <h2 id="titulo" class="single-title"></h2>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol id="passador" class="carousel-indicators" style="top: 20px"></ol>

                            <!-- Wrapper for slides -->
                            <div id="conteudo" class="carousel-inner" role="listbox">

                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" style="color: #fff" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" style="color: #fff" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>

        <footer class="tz-footer"></footer>
    </div>





    <script type='text/javascript' src='js/bootstrap.min.js'></script>
   
    <script src="js/jquery.simplePagination.js"></script>
    <script src="js/jsrender.min.js"></script>
    <script src="js/jquery.ui.datepicker.js"></script>
    <script src="js/busca.js"></script>
    <script src="js/script.js"></script>

    <script type="text/html" id="template">
        <div class="item {{if #index == 0}}active{{/if}}">
            <div class="principal">
                <img src="http://redepara.com.br/Resize/CreateThumbnail?path=/imagens/galeria/{{:id_galeria}}/{{:nome}}&maxHeight=700&maxWidth=770" />

                <div style="    position: fixed;
    bottom: 0px;

    color: #fff;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    width: 770px;">{{:descricao}}</div>
            </div>
            <div style="z-index: 1000;
    position: fixed;
    right: -258px;
    bottom: 119px;
    color: #fff;
    font-size: 12px;
    /* background-color: rgba(0, 0, 0, 0.4); */
    padding: 10px;
    width: 315px;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin-x: 25px;
    -webkit-transform-origin-y: 0px;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: 25px 0;
">Credito Foto:{{:credito}}</div>
        </div>

    </script>
    <script type="text/html" id="templatePassador">
        <li data-target="#myCarousel" data-slide-to="{{:#index + 1}}" class="controle {{if #index == 0}}active{{/if}}"></li>





    </script>
    <script type="text/html" id="templateTitulo">
        {{:titulo}}






    </script>
    <script>
        var url = window.location.href;
        var id = url.substring(url.lastIndexOf('=') + 1);
        jQuery(function () {

            setTimeout(function () {
                buscaAPI('http://api.sgn.net.br/Api/Galeria/3?dataIni=&dataFim=&idOrgao=&termo=&filtro=Belem400anos&itens=10&page=1&id_galeria=' + id, "template", "conteudo")

            }, 3000);
            var a = buscaAPI('http://api.sgn.net.br/Api/Galeria/3?dataIni=&dataFim=&idOrgao=&termo=&filtro=Belem400anos&itens=10&page=1&id_galeria=' + id, "templatePassador", "passador")
            var a = buscaAPI('http://api.sgn.net.br/Api/Galeria/3?dataIni=&dataFim=&idOrgao=&termo=&filtro=Belem400anos&itens=1&page=1&id_galeria=' + id, "templateTitulo", "titulo")
        })
    </script>
</body>
</html>